on:
  workflow_dispatch: {}
  # pull_request: {}
  # push:
  #   branches:
  #   - main
  #   - master
  #   paths:
  #   - .github/workflows/semgrep.yml
  # schedule:
  # # random HH:MM to avoid a load spike on GitHub Actions at 00:00
  # - cron: 5 20 * * *
name: Semgrep
jobs:
  semgrep:
    name: semgrep/ci
    runs-on: ubuntu-20.04
    env:
      SEMGREP_APP_TOKEN: ${{ secrets.SEMGREP_APP_TOKEN }}
    container:
      image: returntocorp/semgrep
    steps:
    - uses: actions/checkout@v4
    # - run: semgrep ci --code --secrets --json -o semgrep.json
    # - run: python3 build_sarif_from_json.py semgrep.json
    # - name: Archive code coverage results
    #   uses: actions/upload-artifact@v4
    #   with:
    #     name: findings.sarif
    #     path: findings.sarif
    - name: Upload SARIF to GHAS Dashboard
      uses: github/codeql-action/upload-sarif@v3
      with:
        sarif_file: secrets.sarif
      if: always()
